In [27]:
import numpy as np
import pandas as pd

In [28]:
df = pd.read_csv('bitcoin.csv')

In [29]:
df.head()

        Date        Price
0  5/23/2019  7881.846680
1  5/24/2019  7987.371582
2  5/25/2019  8052.543945
3  5/26/2019  8673.215820
4  5/27/2019  8805.778320

In [30]:
df.describe()

              Price
count    367.000000
mean    8810.429461
std     1486.188684
min     4970.788086
25%     7661.308594
50%     8757.788086
75%     9867.711426
max    13016.231450

In [31]:
df.shape

(367, 2)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    367 non-null    object
 1   Price   367 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.9+ KB

In [33]:
predictionDays = 30
# Create another column shifted 'n'  units up
df['Prediction'] = df[['Price']].shift(-predictionDays)
# show the first 5 rows
df.head()

        Date        Price   Prediction
0  5/23/2019  7881.846680  10701.69141
1  5/24/2019  7987.371582  10855.37109
2  5/25/2019  8052.543945  11011.10254
3  5/26/2019  8673.215820  11790.91699
4  5/27/2019  8805.778320  13016.23145

In [34]:
df.tail()

          Date        Price  Prediction
362  5/19/2020  9729.038086         NaN
363  5/20/2020  9522.981445         NaN
364  5/21/2020  9081.761719         NaN
365  5/22/2020  9182.577148         NaN
366  5/23/2020  9180.045898         NaN

# Create the independent dada set
# Here we will convert the data frame into a numpy array and drp the prediction column#

In [35]:
df.drop("Date", axis = 'columns',inplace = True)

In [42]:
df

           Price   Prediction
0    7881.846680  10701.69141
1    7987.371582  10855.37109
2    8052.543945  11011.10254
3    8673.215820  11790.91699
4    8805.778320  13016.23145
..           ...          ...
362  9729.038086          NaN
363  9522.981445          NaN
364  9081.761719          NaN
365  9182.577148          NaN
366  9180.045898          NaN

[367 rows x 2 columns]

In [43]:
predictionDays = 30
# Create another column shifted 'n'  units up
df['Prediction'] = df[['Price']].shift(-predictionDays)
# show the first 5 rows
df.head()

         Price   Prediction
0  7881.846680  10701.69141
1  7987.371582  10855.37109
2  8052.543945  11011.10254
3  8673.215820  11790.91699
4  8805.778320  13016.23145

In [46]:

x = np.array(df.drop(['Prediction'],axis = 'columns'))
# Remove the last 'n' rows where 'n' is the predictionDays
x = x[:len(df)-predictionDays]
print(x)

[[ 7881.84668 ]
 [ 7987.371582]
 [ 8052.543945]
 [ 8673.21582 ]
 [ 8805.77832 ]
 [ 8719.961914]
 [ 8659.487305]
 [ 8319.472656]
 [ 8574.501953]
 [ 8564.016602]
 [ 8742.958008]
 [ 8208.995117]
 [ 7707.770996]
 [ 7824.231445]
 [ 7822.023438]
 [ 8043.951172]
 [ 7954.12793 ]
 [ 7688.077148]
 [ 8000.32959 ]
 [ 7927.714355]
 [ 8145.857422]
 [ 8230.923828]
 [ 8693.833008]
 [ 8838.375   ]
 [ 8994.488281]
 [ 9320.352539]
 [ 9081.762695]
 [ 9273.521484]
 [ 9527.160156]
 [10144.55664 ]
 [10701.69141 ]
 [10855.37109 ]
 [11011.10254 ]
 [11790.91699 ]
 [13016.23145 ]
 [11182.80664 ]
 [12407.33203 ]
 [11959.37109 ]
 [10817.15527 ]
 [10583.13477 ]
 [10801.67773 ]
 [11961.26953 ]
 [11215.4375  ]
 [10978.45996 ]
 [11208.55078 ]
 [11450.84668 ]
 [12285.95801 ]
 [12573.8125  ]
 [12156.5127  ]
 [11358.66211 ]
 [11815.98633 ]
 [11392.37891 ]
 [10256.05859 ]
 [10895.08984 ]
 [ 9477.641602]
 [ 9693.802734]
 [10666.48242 ]
 [10530.73242 ]
 [10767.13965 ]
 [10599.10547 ]
 [10343.10645 ]
 [ 9900.767578]
 [ 9811.925781]
 [ 9911.841797]
 [ 9870.303711]
 [ 9477.677734]
 [ 9552.860352]
 [ 9519.145508]
 [ 9607.423828]
 [10085.62793 ]
 [10399.66895 ]
 [10518.17481 ]
 [10821.72656 ]
 [10970.18457 ]
 [11805.65332 ]
 [11478.16895 ]
 [11941.96875 ]
 [11966.40723 ]
 [11862.93652 ]
 [11354.02441 ]
 [11523.5791  ]
 [11382.61621 ]
 [10895.83008 ]
 [10051.7041  ]
 [10311.5459  ]
 [10374.33887 ]
 [10231.74414 ]
 [10345.81055 ]
 [10916.05371 ]
 [10763.23242 ]
 [10138.04981 ]
 [10131.05566 ]
 [10407.96484 ]
 [10159.96094 ]
 [10138.51758 ]
 [10370.82031 ]
 [10185.5     ]
 [ 9754.422852]
 [ 9510.200195]
 [ 9598.173828]
 [ 9630.664063]
 [ 9757.970703]
 [10346.76074 ]
 [10623.54004 ]
 [10594.49316 ]
 [10575.5332  ]
 [10353.30273 ]
 [10517.25488 ]
 [10441.27637 ]
 [10334.97461 ]
 [10115.97559 ]
 [10178.37207 ]
 [10410.12695 ]
 [10360.54688 ]
 [10358.04883 ]
 [10347.71289 ]
 [10276.79395 ]
 [10241.27246 ]
 [10198.24805 ]
 [10266.41504 ]
 [10181.6416  ]
 [10019.7168  ]
 [10070.39258 ]
 [ 9729.324219]
 [ 8620.566406]
 [ 8486.993164]
 [ 8118.967773]
 [ 8251.845703]
 [ 8245.915039]
 [ 8104.185547]
 [ 8293.868164]
 [ 8343.276367]
 [ 8393.041992]
 [ 8259.992188]
 [ 8205.939453]
 [ 8151.500488]
 [ 7988.155762]
 [ 8245.623047]
 [ 8228.783203]
 [ 8595.740234]
 [ 8586.473633]
 [ 8321.756836]
 [ 8336.555664]
 [ 8321.005859]
 [ 8374.686523]
 [ 8205.369141]
 [ 8047.526855]
 [ 8103.911133]
 [ 7973.20752 ]
 [ 7988.560547]
 [ 8222.078125]
 [ 8243.720703]
 [ 8078.203125]
 [ 7514.671875]
 [ 7493.48877 ]
 [ 8660.700195]
 [ 9244.972656]
 [ 9551.714844]
 [ 9256.148438]
 [ 9427.6875  ]
 [ 9205.726563]
 [ 9199.584961]
 [ 9261.104492]
 [ 9324.717773]
 [ 9235.354492]
 [ 9412.612305]
 [ 9342.527344]
 [ 9360.879883]
 [ 9267.561523]
 [ 8804.880859]
 [ 8813.582031]
 [ 9055.526367]
 [ 8757.788086]
 [ 8815.662109]
 [ 8808.262695]
 [ 8708.094727]
 [ 8491.992188]
 [ 8550.760742]
 [ 8577.975586]
 [ 8309.286133]
 [ 8206.145508]
 [ 8027.268066]
 [ 7642.75    ]
 [ 7296.577637]
 [ 7397.796875]
 [ 7047.916992]
 [ 7146.133789]
 [ 7218.371094]
 [ 7531.663574]
 [ 7463.105957]
 [ 7761.243652]
 [ 7569.629883]
 [ 7424.29248 ]
 [ 7321.988281]
 [ 7320.145508]
 [ 7252.034668]
 [ 7448.307617]
 [ 7546.996582]
 [ 7556.237793]
 [ 7564.345215]
 [ 7400.899414]
 [ 7278.119629]
 [ 7217.427246]
 [ 7243.134277]
 [ 7269.68457 ]
 [ 7124.673828]
 [ 7152.301758]
 [ 6932.480469]
 [ 6640.515137]
 [ 7276.802734]
 [ 7202.844238]
 [ 7218.816406]
 [ 7191.158691]
 [ 7511.588867]
 [ 7355.628418]
 [ 7322.532227]
 [ 7275.155762]
 [ 7238.966797]
 [ 7290.088379]
 [ 7317.990234]
 [ 7422.652832]
 [ 7292.995117]
 [ 7193.599121]
 [ 7200.174316]
 [ 6985.470215]
 [ 7344.884277]
 [ 7410.656738]
 [ 7411.317383]
 [ 7769.219238]
 [ 8163.692383]
 [ 8079.862793]
 [ 7879.071289]
 [ 8166.554199]
 [ 8037.537598]
 [ 8192.494141]
 [ 8144.194336]
 [ 8827.764648]
 [ 8807.010742]
 [ 8723.786133]
 [ 8929.038086]
 [ 8942.808594]
 [ 8706.245117]
 [ 8657.642578]
 [ 8745.894531]
 [ 8680.875977]
 [ 8406.515625]
 [ 8445.43457 ]
 [ 8367.847656]
 [ 8596.830078]
 [ 8909.819336]
 [ 9358.589844]
 [ 9316.629883]
 [ 9508.993164]
 [ 9350.529297]
 [ 9392.875   ]
 [ 9344.365234]
 [ 9293.521484]
 [ 9180.962891]
 [ 9613.423828]
 [ 9729.801758]
 [ 9795.943359]
 [ 9865.119141]
 [10116.67383 ]
 [ 9856.611328]
 [10208.23633 ]
 [10326.05469 ]
 [10214.37988 ]
 [10312.11621 ]
 [ 9889.424805]
 [ 9934.433594]
 [ 9690.142578]
 [10141.99609 ]
 [ 9633.386719]
 [ 9608.475586]
 [ 9686.441406]
 [ 9663.181641]
 [ 9924.515625]
 [ 9650.174805]
 [ 9341.705078]
 [ 8820.522461]
 [ 8784.494141]
 [ 8672.455078]
 [ 8599.508789]
 [ 8562.454102]
 [ 8869.669922]
 [ 8787.786133]
 [ 8755.246094]
 [ 9078.762695]
 [ 9122.545898]
 [ 8909.954102]
 [ 8108.116211]
 [ 7923.644531]
 [ 7909.729492]
 [ 7911.430176]
 [ 4970.788086]
 [ 5563.707031]
 [ 5200.366211]
 [ 5392.314941]
 [ 5014.47998 ]
 [ 5225.629395]
 [ 5238.438477]
 [ 6191.192871]
 [ 6198.77832 ]
 [ 6185.066406]
 [ 5830.254883]
 [ 6416.314941]
 [ 6734.803711]
 [ 6681.062988]
 [ 6716.44043 ]
 [ 6469.79834 ]
 [ 6242.193848]
 [ 5922.042969]
 [ 6429.841797]
 [ 6438.644531]
 [ 6606.776367]
 [ 6793.624512]
 [ 6733.387207]
 [ 6867.527344]
 [ 6791.129395]
 [ 7271.78125 ]
 [ 7176.414551]
 [ 7334.098633]
 [ 7302.089355]
 [ 6865.493164]
 [ 6859.083008]
 [ 6971.091797]
 [ 6845.037598]
 [ 6842.427734]
 [ 6642.109863]
 [ 7116.804199]
 [ 7096.18457 ]
 [ 7257.665039]
 [ 7189.424805]
 [ 6881.958496]
 [ 6880.323242]
 [ 7117.20752 ]
 [ 7429.724609]]

In [48]:
# Create the dependent data set
# convert the data frame into a numpy array
y = np.array(df['Prediction'])
# Get all the values except last 'n' rows
y = y[:-predictionDays]
print(y)

[10701.69141  10855.37109  11011.10254  11790.91699  13016.23145
 11182.80664  12407.33203  11959.37109  10817.15527  10583.13477
 10801.67773  11961.26953  11215.4375   10978.45996  11208.55078
 11450.84668  12285.95801  12573.8125   12156.5127   11358.66211
 11815.98633  11392.37891  10256.05859  10895.08984   9477.641602
  9693.802734 10666.48242  10530.73242  10767.13965  10599.10547
 10343.10645   9900.767578  9811.925781  9911.841797  9870.303711
  9477.677734  9552.860352  9519.145508  9607.423828 10085.62793
 10399.66895  10518.17481  10821.72656  10970.18457  11805.65332
 11478.16895  11941.96875  11966.40723  11862.93652  11354.02441
 11523.5791   11382.61621  10895.83008  10051.7041   10311.5459
 10374.33887  10231.74414  10345.81055  10916.05371  10763.23242
 10138.04981  10131.05566  10407.96484  10159.96094  10138.51758
 10370.82031  10185.5       9754.422852  9510.200195  9598.173828
  9630.664063  9757.970703 10346.76074  10623.54004  10594.49316
 10575.5332   10353.30273  10517.25488  10441.27637  10334.97461
 10115.97559  10178.37207  10410.12695  10360.54688  10358.04883
 10347.71289  10276.79395  10241.27246  10198.24805  10266.41504
 10181.6416   10019.7168   10070.39258   9729.324219  8620.566406
  8486.993164  8118.967773  8251.845703  8245.915039  8104.185547
  8293.868164  8343.276367  8393.041992  8259.992188  8205.939453
  8151.500488  7988.155762  8245.623047  8228.783203  8595.740234
  8586.473633  8321.756836  8336.555664  8321.005859  8374.686523
  8205.369141  8047.526855  8103.911133  7973.20752   7988.560547
  8222.078125  8243.720703  8078.203125  7514.671875  7493.48877
  8660.700195  9244.972656  9551.714844  9256.148438  9427.6875
  9205.726563  9199.584961  9261.104492  9324.717773  9235.354492
  9412.612305  9342.527344  9360.879883  9267.561523  8804.880859
  8813.582031  9055.526367  8757.788086  8815.662109  8808.262695
  8708.094727  8491.992188  8550.760742  8577.975586  8309.286133
  8206.145508  8027.268066  7642.75      7296.577637  7397.796875
  7047.916992  7146.133789  7218.371094  7531.663574  7463.105957
  7761.243652  7569.629883  7424.29248   7321.988281  7320.145508
  7252.034668  7448.307617  7546.996582  7556.237793  7564.345215
  7400.899414  7278.119629  7217.427246  7243.134277  7269.68457
  7124.673828  7152.301758  6932.480469  6640.515137  7276.802734
  7202.844238  7218.816406  7191.158691  7511.588867  7355.628418
  7322.532227  7275.155762  7238.966797  7290.088379  7317.990234
  7422.652832  7292.995117  7193.599121  7200.174316  6985.470215
  7344.884277  7410.656738  7411.317383  7769.219238  8163.692383
  8079.862793  7879.071289  8166.554199  8037.537598  8192.494141
  8144.194336  8827.764648  8807.010742  8723.786133  8929.038086
  8942.808594  8706.245117  8657.642578  8745.894531  8680.875977
  8406.515625  8445.43457   8367.847656  8596.830078  8909.819336
  9358.589844  9316.629883  9508.993164  9350.529297  9392.875
  9344.365234  9293.521484  9180.962891  9613.423828  9729.801758
  9795.943359  9865.119141 10116.67383   9856.611328 10208.23633
 10326.05469  10214.37988  10312.11621   9889.424805  9934.433594
  9690.142578 10141.99609   9633.386719  9608.475586  9686.441406
  9663.181641  9924.515625  9650.174805  9341.705078  8820.522461
  8784.494141  8672.455078  8599.508789  8562.454102  8869.669922
  8787.786133  8755.246094  9078.762695  9122.545898  8909.954102
  8108.116211  7923.644531  7909.729492  7911.430176  4970.788086
  5563.707031  5200.366211  5392.314941  5014.47998   5225.629395
  5238.438477  6191.192871  6198.77832   6185.066406  5830.254883
  6416.314941  6734.803711  6681.062988  6716.44043   6469.79834
  6242.193848  5922.042969  6429.841797  6438.644531  6606.776367
  6793.624512  6733.387207  6867.527344  6791.129395  7271.78125
  7176.414551  7334.098633  7302.089355  6865.493164  6859.083008
  6971.091797  6845.037598  6842.427734  6642.109863  7116.804199
  7096.18457   7257.665039  7189.424805  6881.958496  6880.323242
  7117.20752   7429.724609  7550.900879  7569.936035  7679.867188
  7795.601074  7807.058594  8801.038086  8658.553711  8864.766602
  8988.59668   8897.46875   8912.654297  9003.070313  9268.761719
  9951.518555  9842.666016  9593.896484  8756.430664  8601.795898
  8804.477539  9269.987305  9733.72168   9328.197266  9377.013672
  9670.739258  9726.575195  9729.038086  9522.981445  9081.761719
  9182.577148  9180.045898]

In [50]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size = 0.5)
# set the predictionDays array equal to last 30 rows from the original data set
predictionDays_array = np.array(df.drop(['Prediction'],axis = 'columns'))[-predictionDays:]
print(predictionDays_array)

[[7550.900879]
 [7569.936035]
 [7679.867188]
 [7795.601074]
 [7807.058594]
 [8801.038086]
 [8658.553711]
 [8864.766602]
 [8988.59668 ]
 [8897.46875 ]
 [8912.654297]
 [9003.070313]
 [9268.761719]
 [9951.518555]
 [9842.666016]
 [9593.896484]
 [8756.430664]
 [8601.795898]
 [8804.477539]
 [9269.987305]
 [9733.72168 ]
 [9328.197266]
 [9377.013672]
 [9670.739258]
 [9726.575195]
 [9729.038086]
 [9522.981445]
 [9081.761719]
 [9182.577148]
 [9180.045898]]

# Now we will create a Machine Learning Model

In [51]:
from sklearn.svm import SVR
# Create and Train the Support Vector Machine (Regression) using radial basis function
svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.00001)
svr_rbf.fit(xtrain, ytrain)

SVR(C=1000.0, gamma=1e-05)

Test the model#

In [52]:
svr_rbf_confidence = svr_rbf.score(xtest,ytest)
print('SVR_RBF accuracy :',svr_rbf_confidence)

SVR_RBF accuracy : 0.08935159406819382

In [53]:
# print the predicted values
svm_prediction = svr_rbf.predict(xtest)
print(svm_prediction)
print()
print(ytest)

[ 9376.56858782  7949.44301288  7966.00724056  8865.68523198
  8430.87832444 10289.09533601  9341.06954666  8385.819936
  8434.24629601  8194.54341177  9000.36147408 10408.17356184
  7866.27447699  8262.88438468  8655.24146616  7900.0452088
  8247.50797101  8599.3447024   9069.42519772  9249.9799176
  8633.86830921 10283.53663769  7862.27052332  7258.37177572
  9211.29145884  8654.01245061  8570.01540993  7592.97189855
  8418.6256694   9418.69652166  9426.97089703  8612.14407166
  8077.01244529  9585.895288    7733.97450537  7874.19233966
  7879.8313687   7665.69160365  8622.50067944  8608.18125951
  8542.32322006  9446.69790378 10822.99203275 10892.05384289
  8016.09554602  7340.11754641  9379.89559962  8295.74961201
  8247.96600868  7511.27253254  7638.38628108 10492.58726289
  7474.68348462  8386.51463514  7993.11503664  8403.096894
 10491.41213723  8418.04316669  8255.96266077  8644.51811065
  7661.10631609  7512.1883639   7256.42660034  8732.5021087
  8375.91757293  8647.32135379  8606.63537841  8660.26870528
  9315.12914616  8260.76317498  8732.24402181  8651.4212203
  8423.79782338  8936.38937643  9411.15300231  7580.42886823
  8775.65030503  8313.19421607  8525.8353556   8048.42741049
  9680.79318684 10536.35635396  7875.94347556  8360.82285826
  9087.81246514  9411.83337823  7081.26521166  8795.53297153
  8342.81006132  9178.13593131  7808.0922969   8704.54567009
  8953.28132712  8291.88275511  8489.08092935  7511.53558233
  8251.4548534  10525.08897899  7789.21705757  7730.97475156
  9459.57305885  7976.50329515  7308.19395829  7302.64364542
  8459.49831882  9343.12465009  9410.90597925  7770.47274817
  8437.36184691  8471.66705013  8356.55353092  8353.08814825
  9058.33886272  9351.39026281  8579.59941721  8562.78640899
  9069.2114504   7887.61051114  8473.94832695  9407.42441309
  7303.07833222  7739.09531484  9071.56929283  8621.67654211
 10210.46947674  8318.73411984  9341.38002551  9422.25086582
  9059.46024996  8494.22569064  7897.22527935  7685.22817393
  8475.32956991  7360.11650267  7247.06931062 10436.05648097
 10103.23140018  7864.4983327   7859.43437741  8132.56166942
  8965.05103869 10327.46206548  8341.02059884  7812.72282063
  8565.14050803  8379.43500312  8621.69102413  8479.87750463
  8401.2730132   9389.8777237   9117.49981533  8942.60314286
  7787.75000852  7997.00690597  7960.01385791  8578.23325562
  9456.22450488  8379.50256019  8353.03212717  8423.42703493
  8921.90372189  8092.63924558  8536.46192696  9136.8633515
  7920.79039533  8322.02450159  8654.58967265  8260.50931524
  9078.57607518]

[11392.37891   9889.424805  8784.494141 10978.45996  10085.62793
  9911.841797 10855.37109   9122.545898 10767.13965   7252.034668
  8988.59668  10623.54004   7411.317383  9344.365234  8103.911133
  8787.786133  7493.48877  10019.7168    9865.119141  9205.726563
  8321.756836 11478.16895   8745.894531  6867.527344  7276.802734
 10895.83008   7988.155762  6606.776367 10583.13477  11450.84668
 11011.10254   7238.966797  7191.158691 10399.66895  10312.11621
  7769.219238  6880.323242  8755.246094  8801.038086  6191.192871
  8486.993164 10116.67383   9477.677734  9552.860352  9358.589844
  7569.629883  9267.561523  5830.254883  7463.105957  7271.78125
  6881.958496 10353.30273   9934.433594 10817.15527   7124.673828
  8104.185547 10178.37207   7511.588867 12573.8125    7973.20752
 10895.08984   7531.663574 10666.48242   9377.013672  6640.515137
  8047.526855  5563.707031  9729.038086  8577.975586  7514.671875
  9182.577148  7988.560547  8245.915039  9870.303711  9235.354492
 10530.73242   7679.867188  7923.644531  9726.575195  9180.962891
  9607.423828  9811.925781  7397.796875  6198.77832   7550.900879
  8708.094727  7116.804199  9924.515625 11215.4375    9055.526367
  7321.988281  8827.764648 10343.10645   5238.438477  9268.761719
  8820.522461  8343.276367 10517.25488   6242.193848  7269.68457
  9244.972656  7546.996582  6859.083008  9078.762695  6932.480469
  8309.286133  7202.844238  8672.455078  8596.830078  7879.071289
 10345.81055   9757.970703  7429.724609  9256.148438  8393.041992
  8374.686523  8864.766602  6716.44043  10763.23242  11961.26953
  6842.427734  7564.345215  7569.936035  5392.314941 10575.5332
  9341.705078 10266.41504   8491.992188  8897.46875   8243.720703
 10801.67773  10214.37988   8929.038086  9477.641602  6791.129395
 10970.18457  10051.7041    6733.387207  7290.088379 12407.33203
  9261.104492 11523.5791    5014.47998   7807.058594  7117.20752
 10311.5459    9729.324219  8445.43457   9593.896484  8206.145508
  9199.584961  9733.72168   9693.802734  9180.045898 11182.80664
  8205.369141 11815.98633  10370.82031   8245.623047  6438.644531
  9663.181641 11790.91699  10347.71289   8757.788086  7317.990234
  8804.880859 10276.79395   8909.954102 10701.69141 ]

In [54]:
# Print the model predictions for the next 30 days
svm_prediction = svr_rbf.predict(predictionDays_array)
print(svm_prediction)
print()
#Print the actual price for bitcoin for last 30 days
print(df.tail(predictionDays))

[7869.27200453 7891.13954593 8221.0639902  8744.12237214 8793.81043107
 7748.39001679 8135.28954413 7603.36154157 7369.59108726 7535.92597761
 7506.01591174 7346.70230096 7561.1350311  8416.93351501 8290.38656731
 8407.51087317 7861.37624965 8303.76425398 7740.06748287 7566.06210018
 8258.54943693 7824.35391875 8048.95713565 8313.505454   8262.28775295
 8260.91684537 8432.43626006 7256.42720824 7305.50134777 7301.05325384]

           Price  Prediction
337  7550.900879         NaN
338  7569.936035         NaN
339  7679.867188         NaN
340  7795.601074         NaN
341  7807.058594         NaN
342  8801.038086         NaN
343  8658.553711         NaN
344  8864.766602         NaN
345  8988.596680         NaN
346  8897.468750         NaN
347  8912.654297         NaN
348  9003.070313         NaN
349  9268.761719         NaN
350  9951.518555         NaN
351  9842.666016         NaN
352  9593.896484         NaN
353  8756.430664         NaN
354  8601.795898         NaN
355  8804.477539         NaN
356  9269.987305         NaN
357  9733.721680         NaN
358  9328.197266         NaN
359  9377.013672         NaN
360  9670.739258         NaN
361  9726.575195         NaN
362  9729.038086         NaN
363  9522.981445         NaN
364  9081.761719         NaN
365  9182.577148         NaN
366  9180.045898         NaN